# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Android 
/android/build/
/android/.gradle/
# Ignore build artifacts
/android/app/build/
/android/app/.cxx/
/android/app/intermediates/
/android/app/generated/

# Ignore local Gradle properties
/android/app/local.properties

# Ignore Keystore (if you're storing sensitive signing keys)
android/app/*.keystore
android/app/key.properties

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env 
# typescript
*.tsbuildinfo
